<div class="main container-fluid p-3">
  <div class="table-header">
    <div class="header-content">
      <div class="header-info">
        <h2 class="table-title">
          <mat-icon class="title-icon">money_bag</mat-icon>
          {{ "pnl.pnlHeader" | translate }}
        </h2>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z8 table-wrapper p-0">
    <!-- <div class="loading" *ngIf="isLoading">
      <mat-spinner diameter="32"></mat-spinner>
      <div class="text-muted mt-2">{{ "common.loading" | translate }}</div>
    </div> -->

    <div class="mat-table-container"></div>
  </div>
</div>
