<h1 mat-dialog-title>
  <div *ngIf="data.isAdding">
    {{ "adminFeatures.addingColor" | translate }}
  </div>
  <div *ngIf="!data.isAdding">
    {{ "adminFeatures.updatingColor" | translate }}
  </div>
</h1>
<div mat-dialog-content>
  <ng-container>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <mat-form-field appearance="outline" class="color-form-input">
            <mat-label>{{ "common.name" | translate }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="name"
              placeholder="{{ 'inventory.colorName' | translate }}"
              required
            />
            <mat-error *ngIf="name?.invalid && name?.touched">
              {{ "validation.requiredField" | translate }}
            </mat-error></mat-form-field
          >
        </div>

        <div class="col-lg-12 col-md-12 col-12">
          <mat-form-field appearance="outline" class="color-form-input">
            <mat-label>{{ "common.hexCode" | translate }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="hexCode"
              placeholder="{{
                'inventory.colorHexCodeDescription' | translate
              }}"
              required
            />
            <mat-error *ngIf="hexCode?.invalid && hexCode?.touched">
              {{ "validation.requiredField" | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-12 col-md-12 col-12">
          <div class="color-picker-container">
            <label class="color-picker-label">{{
              "common.colorPicker" | translate
            }}</label>
            <div class="color-picker-wrapper">
              <input
                type="color"
                [value]="selectedColor"
                (input)="onColorPickerChange($event)"
                class="color-picker-input"
              />
              <div class="color-preview" [style.background]="selectedColor">
                <span class="color-preview-text">{{ selectedColor }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button
    mat-stroked-button
    color="warn"
    mat-dialog-close="false"
    [disabled]="isUpdatingData"
  >
    {{ "common.close" | translate }}
  </button>
  <button
    type="submit"
    mat-button
    [disabled]="form.invalid || isUpdatingData"
    (click)="onAddEditClick()"
  >
    <ng-container *ngIf="!isUpdatingData">
      <span *ngIf="data?.isAdding">{{ "common.add" | translate }}</span>
      <span *ngIf="!data?.isAdding">{{
        "common.update" | translate
      }}</span></ng-container
    >

    <div *ngIf="isUpdatingData" class="spinner-container">
      <mat-spinner diameter="20" color="accent"></mat-spinner>
      <span *ngIf="data?.isAdding" class="loading-text">{{
        "common.addingButtonText" | translate
      }}</span>
      <span *ngIf="!data?.isAdding" class="loading-text">{{
        "common.updatingButtonText" | translate
      }}</span>
    </div>
  </button>
</div>
