<form [formGroup]="form" autocomplete="off">
  <div class="row">
    <div class="col-lg-5">
      <mat-form-field class="w-100">
        <mat-label>{{ "common.city" | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="city"
          [matAutocomplete]="autoCity"
          placeholder="{{ 'common.city' | translate }}"
          (input)="onCityInput($event)"
          (blur)="onCityBlur()"
          required
        />
        <mat-autocomplete
          autoActiveFirstOption
          #autoCity="matAutocomplete"
          [displayWith]="displayCityFn"
          (optionSelected)="onCityOptionSelected($event)"
        >
          <mat-option *ngFor="let city of npCities?.addresses" [value]="city">
            {{ city.present }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="city?.invalid && city?.touched">
          {{ "validation.requiredField" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-5">
      <mat-form-field class="w-100">
        <mat-label>{{ "novaPost.departmentOrPost" | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="warehouse"
          [matAutocomplete]="autoWarehouse"
          placeholder="{{ 'novaPost.departmentOrPost' | translate }}"
          (input)="onWarehouseInput($event)"
          (blur)="onWarehouseBlur()"
          required
        />
        <mat-autocomplete
          autoActiveFirstOption
          #autoWarehouse="matAutocomplete"
          [displayWith]="displayWarehouseFn"
          (optionSelected)="onWarehouseOptionSelected($event)"
        >
          <mat-option
            *ngFor="let npWarehouse of npWarehouses"
            [value]="npWarehouse"
          >
            {{ npWarehouse.description }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="warehouse?.invalid && warehouse?.touched">
          {{ "validation.requiredField" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
