<div class="main container-fluid p-3">
  <div class="table-header">
    <div class="header-content">
      <div class="header-info">
        <h2 class="table-title">
          <mat-icon class="title-icon"
            ><span class="material-symbols-outlined">
              order_approve
            </span></mat-icon
          >
          {{ "orders.ordersHeader" | translate }}
        </h2>
      </div>
    </div>

    <div class="table-controls">
      <form [formGroup]="form" class="filter-form">
        <div class="form-row">
          <mat-form-field
            class="search-field form-control"
            appearance="outline"
          >
            <mat-label>{{ "orders.searchingOrders" | translate }}</mat-label>
            <input
              matInput
              formControlName="orderSearchString"
              placeholder="{{ 'orders.searchHelpText' | translate }}"
            />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="info-row mt-3" *ngIf="!isRetrievingData">
      <div
        class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center gap-3"
      >
        <div class="d-flex align-items-center gap-3 flex-wrap">
          <button mat-mini-fab color="success">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <div class="total-items-text text-center">
          {{ "common.totalItems" | translate }}:
          {{ ordersResponse?.resultsAmount }}
        </div>
      </div>
    </div>
  </div>
  <div class="mat-elevation-z8 table-wrapper">
    <!-- TODO here should be <table mat-table [dataSource]="dataSource" class="variants-table"></table> -->
  </div>
</div>
